{% extends "base.html" %}

{% block style %}
        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input[type="text"] {
            flex: 1;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        article {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
{% endblock %}

{% block content %}
    <h2>Blog Search</h2>

    <form action="/post/search/" method="get">
        {{ form }}
        <button type="submit">Search</button>
    </form><br>

{% for post in posts %}
        <article class="post">
            <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
            <p>Posted on: {{post.pub_date}}, by {{post.author}}</p>
        </article><br>
{% endfor %}

{% endblock %}